<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% load bootstrap4 %}
    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}
    {% bootstrap_css %}
    
    <title>MASTER Equipment Status</title>
  </head>
  <body>
 
<nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: #4e8ce0;">
  <a class="navbar-brand" href="http://master.sai.msu.ru/masternet/">MASTER</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">SAI <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://master.sai.msu.ru/masternet/">MASTERnet</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          M2Pages
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Amur</a>
          <a class="dropdown-item" href="#">Tunka</a>
          <a class="dropdown-item" href="#">Kislovodsk</a>
          <a class="dropdown-item" href="#">Tavrida</a>
          <a class="dropdown-item" href="#">SAAO</a>
          <a class="dropdown-item" href="#">IAC</a>
          <a class="dropdown-item" href="#">OAFA</a>
          <a class="dropdown-item" href="#">Mexico</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Ural</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          WFCPages
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Amur</a>
          <a class="dropdown-item" href="#">Tunka</a>
          <a class="dropdown-item" href="#">Kislovodsk</a>
          <a class="dropdown-item" href="#">Tavrida</a>
          <a class="dropdown-item" href="#">SAAO</a>
          <a class="dropdown-item" href="#">IAC</a>
          <a class="dropdown-item" href="#">OAFA</a>
          <a class="dropdown-item" href="#">Mexico</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Ural</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container">
  <div>
    <h1> </h1>
  </div>
</div>

<div class="container" style="margin-left: 6%">
<table class="table table-striped table-bordered table-sm">
  <thead>
    <tr>
      <th></th>
      <div>
        <td colspan=2><a href="">{{ amur_site.sitename }}</a></td>
      </div>
      <div>
        <td colspan=4><a href="">{{ tunka_site.sitename }}</a></td>
      </div>
      <div>
        <td colspan=4><a href="">{{ kislo_site.sitename }}</a></td>
      </div>
      <div>
        <td colspan=4><a href="">{{ tavr_site.sitename }}</a></td>
      </div>
      <div>
        <td colspan=2><a href="">{{ saao_site.sitename }}</a></td>
      </div>
      <div>
        <td colspan=2><a href="">{{ iac_site.sitename }}</a></td>
      </div>
      <div>
        <td colspan=2><a href="">{{ oafa_site.sitename }}</a></td>
      </div>
    </tr>
  </thead>
  <tbody>
  <tr>
      <th scope="row">Sun / Dome</th>
      <td class="{{ amur_site.sun_alt_stclass }}"> {{ amur_site.sun_alt }}</td>
      <td class="{{ amur_dome.stclass }}"> {{ amur_dome.status }} </td>
      <td class="{{ tunka_site.sun_alt_stclass }}" colspan=2> {{ tunka_site.sun_alt }} </td>
      <td class="{{ tunka_dome.stclass }}" colspan=2> {{ tunka_dome.status }} </td>
      <td class="{{ kislo_site.sun_alt_stclass }}" colspan=2> {{ kislo_site.sun_alt }} </td>
      <td class="{{ kislo_dome.stclass }}" colspan=2> {{ kislo_dome.status }} </td>
      <td class="{{ tavr_site.sun_alt_stclass }}" colspan=2> {{ tavr_site.sun_alt }} </td>
      <td class="{{ tavr_dome.stclass }}" colspan=2> {{ tavr_dome.status }} </td>
      <td class="{{ saao_site.sun_alt_stclass }}"> {{ saao_site.sun_alt }} </td>
      <td class="{{ saao_dome.stclass }}"> {{ saao_dome.status }} </td>
      <td class="{{ iac_site.sun_alt_stclass }}"> {{ iac_site.sun_alt }} </td>
      <td class="{{ iac_dome.stclass }}"> {{ iac_dome.status }} </td>
      <td class="{{ oafa_site.sun_alt_stclass }}"> {{ oafa_site.sun_alt }} </td>
      <td class="{{ oafa_dome.stclass }}"> {{ oafa_dome.status }} </td>
    </tr>
    <tr>
      <th scope="row">Meteo / Task</th>
      <td class="table-success">-</td>
      <td class="{{ amur_head.stclass }}"> {{ amur_head.status }} </td>
      <td class="table-success" colspan=2>-</td>
      <td class="{{ tunka_head.stclass }}" colspan=2> {{ tunka_head.status }} </td>
      <td class="table-success" colspan=2>-</td>
      <td class="{{ kislo_head.stclass }}" colspan=2> {{ kislo_head.status }} </td>
      <td class="table-success" colspan=2>-</td>
      <td class="{{ tavr_head.stclass }}" colspan=2> {{ tavr_head.status }} </td>
      <td class="table-success">-</td>
      <td class="{{ saao_head.stclass }}"> {{ saao_head.status }} </td>
      <td class="table-success">-</td>
      <td class="{{ iac_head.stclass }}"> {{ iac_head.status }} </td>
      <td class="table-success">-</td>
      <td class="{{ oafa_head.stclass }}"> {{ oafa_head.status }} </td>
    </tr>
    <tr>
      <th scope="row">CCDW/CCDE</th>
      <td class="{{ amur_ccdw.last_imobj_stclass }}"> {{ amur_ccdw.last_imobj }} </td>
      <td class="{{ amur_ccde.last_imobj_stclass }}"> {{ amur_ccde.last_imobj }} </td>
      <td class="{{ tunka_ccdw.last_imobj_stclass }}" colspan=2> {{ tunka_ccdw.last_imobj }} </td>
      <td class="{{ tunka_ccde.last_imobj_stclass }}" colspan=2> {{ tunka_ccde.last_imobj }} </td>
      <td class="{{ kislo_ccdw.last_imobj_stclass }}" colspan=2> {{ kislo_ccdw.last_imobj }} </td>
      <td class="{{ kislo_ccde.last_imobj_stclass }}" colspan=2> {{ kislo_ccde.last_imobj }} </td>
      <td class="{{ tavr_ccdw.last_imobj_stclass }}" colspan=2> {{ tavr_ccdw.last_imobj }} </td>
      <td class="{{ tavr_ccde.last_imobj_stclass }}" colspan=2> {{ tavr_ccde.last_imobj }} </td>
      <td class="{{ saao_ccdw.last_imobj_stclass }}"> {{ saao_ccdw.last_imobj }} </td>
      <td class="{{ saao_ccde.last_imobj_stclass }}"> {{ saao_ccde.last_imobj }} </td>
      <td class="{{ iac_ccdw.last_imobj_stclass }}"> {{ iac_ccdw.last_imobj }} </td>
      <td class="{{ iac_ccde.last_imobj_stclass }}"> {{ iac_ccde.last_imobj }} </td>
      <td class="{{ oafa_ccdw.last_imobj_stclass }}"> {{ oafa_ccdw.last_imobj }} </td>
      <td class="{{ oafa_ccde.last_imobj_stclass }}"> {{ oafa_ccde.last_imobj }} </td>
    </tr>
    <tr>
      <th scope="row">CCDt W/E</th>
      <td class="{{ amur_ccdw.last_imtime_stclass }}"> {{ amur_ccdw.last_imtime }} </td>
      <td class="{{ amur_ccde.last_imtime_stclass }}"> {{ amur_ccde.last_imtime }} </td>
      <td class="{{ tunka_ccdw.last_imtime_stclass }}" colspan=2> {{ tunka_ccdw.last_imtime }} </td>
      <td class="{{ tunka_ccde.last_imtime_stclass }}" colspan=2> {{ tunka_ccde.last_imtime }} </td>
      <td class="{{ kislo_ccdw.last_imtime_stclass }}" colspan=2> {{ kislo_ccdw.last_imtime }} </td>
      <td class="{{ kislo_ccde.last_imtime_stclass }}" colspan=2> {{ kislo_ccde.last_imtime }} </td>
      <td class="{{ tavr_ccdw.last_imtime_stclass }}" colspan=2> {{ tavr_ccdw.last_imtime }} </td>
      <td class="{{ tavr_ccde.last_imtime_stclass }}" colspan=2> {{ tavr_ccde.last_imtime }} </td>
      <td class="{{ saao_ccdw.last_imtime_stclass }}"> {{ saao_ccdw.last_imtime }} </td>
      <td class="{{ saao_ccde.last_imtime_stclass }}"> {{ saao_ccde.last_imtime }} </td>
      <td class="{{ iac_ccdw.last_imtime_stclass }}"> {{ iac_ccdw.last_imtime }} </td>
      <td class="{{ iac_ccde.last_imtime_stclass }}"> {{ iac_ccde.last_imtime }} </td>
      <td class="{{ oafa_ccdw.last_imtime_stclass }}"> {{ oafa_ccdw.last_imtime }} </td>
      <td class="{{ oafa_ccde.last_imtime_stclass }}"> {{ oafa_ccde.last_imtime }} </td>
    </tr>
    <tr>
      <th scope="row">Filter W/E</th>
      <td class="{{ amur_filterw.stclass }}"> {{ amur_filterw.display_name }} </td>
      <td class="{{ amur_filtere.stclass }}"> {{ amur_filtere.display_name }} </td>
      <td class="{{ tunka_filterw.stclass }}" colspan=2> {{ tunka_filterw.display_name }} </td>
      <td class="{{ tunka_filtere.stclass }}" colspan=2> {{ tunka_filtere.display_name }} </td>
      <td class="{{ kislo_filterw.stclass }}" colspan=2> {{ kislo_filterw.display_name }} </td>
      <td class="{{ kislo_filtere.stclass }}" colspan=2> {{ kislo_filtere.display_name }} </td>
      <td class="{{ tavr_filterw.stclass }}" colspan=2> {{ tavr_filterw.display_name }} </td>
      <td class="{{ tavr_filtere.stclass }}" colspan=2> {{ tavr_filtere.display_name }} </td>
      <td class="{{ saao_filterw.stclass }}"> {{ saao_filterw.display_name }} </td>
      <td class="{{ saao_filtere.stclass }}"> {{ saao_filtere.display_name }} </td>
      <td class="{{ iac_filterw.stclass }}"> {{ iac_filterw.display_name }} </td>
      <td class="{{ iac_filtere.stclass }}"> {{ iac_filtere.display_name }} </td>
      <td class="{{ oafa_filtere.stclass }}"> {{ oafa_filtere.display_name }} </td>
      <td class="{{ oafa_filterw.stclass }}"> {{ oafa_filterw.display_name }} </td>
    </tr>
    <tr>
      <th scope="row">WFC1/WFC2</th>
      <td class="{{ amur_wfcw.last_imtime_stclass }}"> {{ amur_wfcw.wfcid }} </td>
      <td class="{{ amur_wfce.last_imtime_stclass }}"> {{ amur_wfce.wfcid }} </td>
      <td class="{{ tunka_wfcw.last_imtime_stclass }}" colspan=2> {{ tunka_wfcw.wfcid }} </td>
      <td class="{{ tunka_wfce.last_imtime_stclass }}" colspan=2> {{ tunka_wfce.wfcid }} </td>
      <td class="{{ kislo_wfcw.last_imtime_stclass }}" colspan=2> {{ kislo_wfcw.wfcid }} </td>
      <td class="{{ kislo_wfce.last_imtime_stclass }}" colspan=2> {{ kislo_wfce.wfcid }} </td>
      <td class="{{ tavr_qhyw.last_imtime_stclass }}" colspan=2> {{ tavr_qhyw.ccdid }} </td>
      <td class="{{ tavr_qhye.last_imtime_stclass }}" colspan=2> {{ tavr_qhye.ccdid }} </td>
      <td class="{{ saao_wfcw.last_imtime_stclass }}"> {{ saao_wfcw.wfcid }} </td>
      <td class="{{ saao_wfce.last_imtime_stclass }}"> {{ saao_wfce.wfcid }} </td>
      <td class="{{ iac_wfcw.last_imtime_stclass }}"> {{ iac_wfcw.wfcid }} </td>
      <td class="{{ iac_wfce.last_imtime_stclass }}"> {{ iac_wfce.wfcid }} </td>
      <td class="{{ oafa_wfcw.last_imtime_stclass }}"> {{ oafa_wfcw.wfcid }} </td>
      <td class="{{ oafa_wfce.last_imtime_stclass }}"> {{ oafa_wfce.wfcid }} </td>
    </tr>
      <tr>
      <th scope="row">WFCt 1/2</th>
      <td class="{{ amur_wfcw.last_imtime_stclass }}"> {{ amur_wfcw.last_imtime }} </td>
      <td class="{{ amur_wfce.last_imtime_stclass }}"> {{ amur_wfce.last_imtime }} </td>
      <td class="{{ tunka_wfcw.last_imtime_stclass }}" colspan=2> {{ tunka_wfcw.last_imtime }} </td>
      <td class="{{ tunka_wfce.last_imtime_stclass }}" colspan=2> {{ tunka_wfce.last_imtime }} </td>
      <td class="{{ kislo_wfcw.last_imtime_stclass }}" colspan=2> {{ kislo_wfcw.last_imtime }} </td>
      <td class="{{ kislo_wfce.last_imtime_stclass }}" colspan=2> {{ kislo_wfce.last_imtime }} </td>
      <td class="{{ tavr_qhyw.last_imtime_stclass }}" colspan=2> {{ tavr_qhyw.last_imtime }} </td>
      <td class="{{ tavr_qhye.last_imtime_stclass }}" colspan=2> {{ tavr_qhye.last_imtime }} </td>
      <td class="{{ saao_wfcw.last_imtime_stclass }}"> {{ saao_wfcw.last_imtime }} </td>
      <td class="{{ saao_wfce.last_imtime_stclass }}"> {{ saao_wfce.last_imtime }} </td>
      <td class="{{ iac_wfcw.last_imtime_stclass }}"> {{ iac_wfcw.last_imtime }} </td>
      <td class="{{ iac_wfce.last_imtime_stclass }}"> {{ iac_wfce.last_imtime }} </td>
      <td class="{{ oafa_wfcw.last_imtime_stclass }}"> {{ oafa_wfcw.last_imtime }} </td>
      <td class="{{ oafa_wfce.last_imtime_stclass }}"> {{ oafa_wfce.last_imtime }} </td>
    </tr>
    <tr>
      <th scope="row">MainServer/S</th>
      <td class="{{ amur_msrv.stclass }}" colspan=2> {{ amur_msrv.status }} </td>
      <td class="{{ tunka_msrv.stclass }}" colspan=4> {{ tunka_msrv.status }} </td>
      <td class="{{ kislo_msrv.stclass }}" colspan=2> {{ kislo_msrv.status }} </td>
      <td class="{{ kislo_ssrv.stclass }}" colspan=2> {{ kislo_ssrv.status }} </td>
      <td class="{{ tavr_msrv.stclass }}" colspan=4> {{ tavr_msrv.status }} </td>
      <td class="{{ saao_msrv.stclass }}" colspan=2> {{ saao_msrv.status }} </td>
      <td class="{{ iac_msrv.stclass }}" colspan=2> {{ iac_msrv.status }} </td>
      <td class="{{ oafa_msrv.stclass }}"> {{ oafa_msrv.status }} </td>
      <td class="{{ oafa_ssrv.stclass }}"> {{ oafa_ssrv.status }} </td>
    </tr>
    <tr>
      <th scope="row">Mount</th>
      <td class="{{ amur_mount.stclass }}" colspan=2> {{ amur_mount.status }} </td>
      <td class="{{ tunka_mount.stclass }}" colspan=4> {{ tunka_mount.status }} </td>
      <td class="{{ kislo_mount.stclass }}" colspan=4> {{ kislo_mount.status }} </td>
      <td class="{{ tavr_mount.stclass }}" colspan=4> {{ tavr_mount.status }} </td>
      <td class="{{ saao_mount.stclass }}" colspan=2> {{ saao_mount.status }} </td>
      <td class="{{ iac_mount.stclass }}" colspan=2> {{ iac_mount.status }} </td>
      <td class="{{ oafa_mount.stclass }}" colspan=2> {{ oafa_mount.status }} </td>
    </tr>
    <tr>
      <th scope="row">E-Boxes</th>
      <td class="{{ amur_e21.stclass }}" colspan=2> {{ amur_e21.display_name }} </td>
      <td class="{{ tunka_e241.stclass }}" colspan=2> {{ tunka_e241.display_name }} </td>
      <td class="{{ tunka_e250.stclass }}"> {{ tunka_e250.display_name }} </td>
      <td class="{{ tunka_e251.stclass }}"> {{ tunka_e251.display_name }} </td>
      <td class="{{ kislo_e16.stclass }}"> {{ kislo_e16.display_name }} </td>
      <td class="{{ kislo_n17.stclass }}"> {{ kislo_n17.display_name }} </td>
      <td class="{{ kislo_e33.stclass }}" colspan=2> {{ kislo_e33.display_name }} </td>
      <td class="{{ tavr_e98.stclass }}" colspan=2> {{ tavr_e98.display_name }} </td>
      <td class="{{ tavr_e41.stclass }}" colspan=2> {{ tavr_e41.display_name }} </td>
      <td class="{{ saao_e98.stclass }}" colspan=2> {{ saao_e98.display_name }} </td>
      <td class="{{ iac_e13.stclass }}" colspan=2> {{ iac_e13.display_name }} </td>
      <td class="{{ oafa_e150.stclass }}" colspan=2> {{ oafa_e150.display_name }} </td>
    </tr>
    <tr>
      <th scope="row">IPCam</th>
      <td class="{{ amur_ipcamext.stclass }}"> {{ amur_ipcamext.status }} </td>
      <td class="{{ amur_ipcamint.stclass }}"> {{ amur_ipcamint.status }} </td>
      <td class="{{ tunka_ipcamext.stclass }}" colspan=2> {{ tunka_ipcamext.status }} </td>
      <td class="{{ tunka_ipcamint.stclass }}" colspan=2> {{ tunka_ipcamint.status }} </td>
      <td class="{{ kislo_ipcamext.stclass }}" colspan=2> {{ kislo_ipcamext.status }} </td>
      <td class="{{ kislo_ipcamint.stclass }}" colspan=2> {{ kislo_ipcamint.status }} </td>
      <td class="{{ tavr_ipcamext.stclass }}" colspan=2> {{ tavr_ipcamext.status }} </td>
      <td class="{{ tavr_ipcamint.stclass }}" colspan=2> {{ tavr_ipcamint.status }} </td>
      <td class="{{ saao_ipcamext.stclass }}"> {{ saao_ipcamext.status }} </td>
      <td class="{{ saao_ipcamint.stclass }}"> {{ saao_ipcamint.status }} </td>
      <td class="{{ iac_ipcamext.stclass }}"> {{ iac_ipcamext.status }} </td>
      <td class="{{ iac_ipcamint.stclass }}"> {{ iac_ipcamint.status }} </td>
      <td class="{{ oafa_ipcamext.stclass }}"> {{ oafa_ipcamext.status }} </td>
      <td class="{{ oafa_ipcamint.stclass }}"> {{ oafa_ipcamint.status }} </td>
    </tr>
  </tbody>
</table>
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
