<html>
    <head>
        <title>MASTER Equipment Table</title>
    </head>
    <body>
        <div>
            <h1><a href="/">MASTER Equipment Table</a></h1>
        </div>

        <div>
            <p>published: 14.06.2017, 12:14</p>
            <h2><a href="">MASTER-Site-1</a></h2>
            <p>Some text.</p>
        </div>

        <div>
            <p>published: 14.06.2017, 12:14</p>
            <h2><a href="">MASTER-Site-2</a></h2>
            <p>Some other text.</p>
        </div>



<table>
  <tr>
    <th> </th>
    <th>MASTER-Site-1</th>
    <th>MASTER-Site-2</th>
  </tr>
  <tr>
    <td>Main Server</td>
    <td>Site-1 Main Server</td>
    <td>Site-2 Main Server</td>
  </tr>
  <tr>
    <td>CCD WEST</td>
    <td>Site-1 CCD WEST</td>
    <td>Site-2 CCD WEST </td>
  </tr>
  <tr>
    <td>CCD EAST</td>
    <td>Site-1 CCD EAST</td>
    <td>Site-2 CCD EAST</td>
  </tr>
  <tr>
    <td>Prosilica 1</td>
    <td>Site-1 Prosilica</td>
    <td>Site-2 Prosilica</td>
  </tr>

</table>

    </body>
</html>
